* {
    padding: 0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    width: 90px;
    
}

.menu{
    width: 20px;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

.section-1 {
    margin: 20px;
    padding:50px 20px;
}

h1 {
    padding-top: 50px;
    margin: 0;
    font-size: 40px;
}
button{
    background-color: #1DB954;
    color: white;
    padding: 10px 50px;
    width:100%;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 800;
    /*section-1: ancho 335px*/
}
.terminos{
    font-size: 12px; 
    line-height: 20px;
}

h2 {
    font-size: 18px;
    line-height: 30px;
}

.section-1 {
    background-color: #529CF1;
    color: white;
    margin: 0;
}

.section-2{
    padding: 20px;
}
h2{
    font-size: 24px;
    padding: 0 40px;
    text-align: center;
    font-weight: 800;
}